@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 3rem;
  width: clamp(300px, 70%, 800px);
  border-radius: 1.5rem;
  background: var(--greyLight-0);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  /* box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); */
  /* box-shadow:.8rem .8rem 1.4rem var(--greyLight-1), -.2rem -.2rem 1.8rem var(--white); */
  padding-left: 1.5rem;
}

.icon {
  padding-right: 1rem;
}

.iconImage {
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
}

.text {
  /* font-family: "Raleway", sans-serif; */
  margin-right: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
}
