.container {
  background: var(--greyLight-0);
  box-shadow: var(--box-shadow);
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title {
  width: clamp(400px, 40%, 800px);
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  width: clamp(500px, 50%, 1000px);
  text-align: center;
}
