.primaryHeader {
  max-width: 1472px;
  margin-inline: auto;
  /* margin-top: 2rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  margin-inline: 2rem;
  width: 3rem;
  aspect-ratio: 1;
}

.logoLink {
  display: flex;
  align-items: center;
}

.nav {
  width: calc(100% - 31rem);
  margin-inline: 2rem;
}

.primaryNavigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--gap, 2rem);
  align-items: center;
}

.primaryNavigation a {
  text-decoration: none;
}

.primaryNavigation > li:last-of-type {
  margin-left: auto;
}

.primaryNavigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75rem;
}

.mobileNavToggle {
  display: none;
}

.button {
  border: none;
  width: 10rem;
  height: 3rem;
  background: var(--greyLight-0);
  box-shadow: var(--box-shadow);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  filter: var(--filter-hover);
  box-shadow: var(--box-shadow-hover);
}

@media (max-width: 1024px) {
  .nav {
    width: auto;
  }
  .primaryNavigation {
    --gap: 3rem;

    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;

    flex-direction: column;
    /* align-items: stretch; */
    padding: min(20vh, 10rem) 2em;

    background: hsl(0, 0%, 90%, 100%);
    box-shadow: var(--box-shadow);

    transform: translateX(100%);
    transition: transform 150ms ease-in;
  }

  .primaryNavigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .primaryNavigation > li:last-of-type {
    margin-left: 0;
  }

  .mobileNavToggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: none;
    border: 0;
    cursor: pointer;
    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobileNavToggle[aria-expanded="true"] {
    position: fixed;
  }
}
