.navbar {
  min-width: 100%;
  display: flex;
}

.borderDiv {
  min-width: 25%;
  height: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: var(--greyLight-0);
  box-shadow: var(--box-shadow);
  border-radius: 1.5rem;
}
